body {
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5vw 3vw;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.secao1 { background-color: #e0f7fa; font-family: 'Lobster', cursive; }
.secao2 { background-color: #f1f8e9; font-family: 'Roboto', sans-serif; }
.secao3 { background-color: #fffde7; font-family: 'Merriweather', serif; }
.secao4 { background-color: #fce4ec; font-family: 'Pacifico', cursive; }
.secao5 { background-color: #ede7f6; font-family: 'Oswald', sans-serif; }

.destaque {
    color: darkred;
    font-weight: bold;
}
